div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

h1 {
  text-align: center;
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
}

label {
  margin-bottom: 5px;
}

/* start */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  border: 2px solid white;
  background-color: #7e8b88;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: white;
  outline: none; /* Remove default outline on focus */
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder {
  color: white; /* Adjust placeholder text color */
}
/* end */

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  margin-left: 5px;
  color: white; /* Default color */
  background-color: rgb(123, 133, 160);
  border: 2px solid rgb(123, 133, 160);
}
input[type="submit"]:hover {
  background-color: rgb(78, 85, 102);
  border-color: rgb(78, 85, 102);
}
