<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minima</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/login.css" />
  </head>
  <body>
    <header>
      <img src="/logo/logo.png" alt="" />
      <nav>
        <a href="/login">Sign In</a>
      </nav>
    </header>
    <main>
      <div class="form-container">
        <form action="/register" method="post">
          <input type="hidden" name="key" value="started" />
          <input type="email" name="email" placeholder="Enter your email" />
          <input type="submit" value="Register" />
        </form>
      </div>
    </main>
    <footer>Made With ♥ in Jalgaon</footer>
  </body>
</html>
