<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Streaming Plans</title>
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="style/pricing.css" />
    <style></style>
  </head>
  <body>
    <div class="container">
      <h1>Streaming Plans</h1>
      <div class="pricing-table">
        <div class="plan">
          <h3>Standard</h3>
          <p>Access to a vast library of movies and TV shows</p>
          <div class="price">₹145/month</div>
          <ul class="features">
            <li>HD Quality</li>
            <li>Unlimited Streaming</li>
            <li>Access on all devices</li>
          </ul>
          <a href="/home" class="cta">Choose Plan</a>
        </div>
      </div>
    </div>
  </body>
</html>
