<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minima - Sign In</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/signin.css" />
  </head>
  <body>
    <div class="container">
      <h1>Sign In</h1>
      <form method="post" action="login">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required /><br />

        <input type="submit" value="Sign In" />
      </form>
    </div>
  </body>
</html>
